<header *ngIf="router.url !== '/home'">
    <!-- Navbar -->
    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="./assets/img/ford.png" alt="Logo da ford" width="100px">
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- dropdown usuario -->
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="./assets/img/iconeUser.png" alt="icone de usuario" width="25px">
            </button>
                <div *ngIf="user$">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" *ngIf="user$.source._value.name; else login">
                        <li class="listaUser"><a>{{user$.source._value.name}}</a></li>
                        <li class="listaUser"><a (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <ng-template #login>
    </ng-template>
</header>
