<div style=" flex-direction: column; margin-top: 30px; display: flex; justify-content: center; align-items: center;">

    <div class="alert alert-primary alert-dismissible fade show " role="alert" style="text-align:center; margin-top: 100px; position: relative !important; width: 400px; ">
        <h2>Sistema de dados FORD </h2>
        <hr>
        <p>
            Seja bem-Vindo(a)!
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <img src="./assets/img/Ranger.png " alt="Carro Ranger" class="img-fluid" style="margin-top: 50px; width: 900px;">
</div>
<!-- imagem da ranger -->