<div class="content">
  <h1>Dashboard FORD</h1>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="head">
          <h2>Veículo</h2>
        </div>
        <div class="body">
          <select name="vehicle" id="vehicle">
            <option value="" disabled selected>Selecione</option>
            <option *ngFor="let vehicle of vehicles" value="{{ vehicle.id }}" disabled>
              {{ vehicle.vehicle }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="head">
          <h2>Total de Vendas</h2>
        </div>
        <div class="body">
          <span class="number">1500</span>
          <span class="unid">Unid.</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="head">
          <h2>Conectados</h2>
        </div>
        <div class="body">
          <span class="number">500</span>
          <span class="unid">Unid.</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="head">
          <h2>Update de Software</h2>
        </div>
        <div class="body">
          <span class="number">750</span>
          <span class="unid">Unid.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../assets/img/mustang.png" alt="Imagem do carro">
    </div>
  </div>
  <table>
    <thead>
      <th>Código - Vin</th>
      <th>Odômetro</th>
      <th>Nível de Combustível</th>
      <th>Status</th>
      <th>Lat.</th>
      <th>Long.</th>
    </thead>
    <tbody>
      <tr>
        <td><input type="text"></td>
        <td>50000 Km</td>
        <td>90 %</td>
        <td>on</td>
        <td>-12,1111</td>
        <td>-12,1111</td>
      </tr>
      <tr class="table-bottom"></tr>
    </tbody>
  </table>
</div>